*.o
*.png
*.pdf
*.root
*.bin
run00*
*.so
*.pcm
*.d
*~
*.csv
*.txt
*.mid.gz

__pycache__/*
FirstAnalysisrun109-110/*
!FirstAnalysisrun109-110/*.C
pythontest/*
!pythontest/*.py
SecondAnalysisrun109/*
!SecondAnalysisrun109/*.C
