*.o
*.png
*.pdf
*.root
*.bin
run00*
*.so
*.pcm
*.d
*~
*.exe
10MeVSigmaAnalysis/*
!10MeVSigmaAnalysis/*.C
1MeVSigmaAnalysis/*
!1MeVSigmaAnalysis/*.C
1MeVSigmaAnalysis_ChangeSeed/*
!1MeVSigmaAnalysis_ChangeSeed/*.C
Attenuation/*
!Attenuation/*.C
BiggerDetector/*
!BiggerDetector/*.C
copies/*
!copies/*.C
!copies/*.cc
FanoFactor/*
!FanoFactor/*.C
FanoFactorValid/*
!FanoFactorValid/*.C
RateNISTvsCounts/*
!RateNISTvsCounts/*.C
Resolution_Efficiency/*
!Resolution_Efficiency/*.C

