*.o
*.png
*.pdf
*.root
*.bin
run00*
*.so
*.pcm
*.d
*~
*.txt
RUN106/*
!RUN106/*.C
!RUN106/*.sh
RUN109/*
!RUN109/*.C
!RUN109/*.sh
RUN110/*
!RUN110/*.C
!RUN110/*.sh
doublefloat/*
!doublefloat/*.C
!doublefloat/*.sh
!doublefloat/*.cc