*.o
*.png
*.pdf
*.root
*.bin
run00*
*.so
*.pcm
*.d
*~
*.csv
*.txt
*.mid.gz

OLDtest/*
!OLDtest/*.cc
!OLDtest/Makefile

PulseGenZeroMQSuppression/*
!PulseGenZeroMQSuppression/*.cc
!PulseGenZeroMQSuppression/Makefile
!PulseGenZeroMQSuppression/CMakeLists.txt
!PulseGenZeroMQSuppression/*.C

OnlinePulseGenZeroMQ/*
!OnlinePulseGenZeroMQ/*.cc
!OnlinePulseGenZeroMQ/Makefile
!OnlinePulseGenZeroMQ/CMakeLists.txt
!OnlinePulseGenZeroMQ/*.C